<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8"/>
    <title>Inicio | Goal</title>
    <meta name="description" content="undefined"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="icon" type="image/png" href="img/goal-16.png"/>
    <link rel="stylesheet" href="css/materialize.css"/>
    <link rel="stylesheet" href="https://file.myfontastic.com/CXWrkoNkybTgdzDQrCHdKV/icons.css"/>
  </head>
  <body>
    <ul class="side-nav fixed z-depth-2" id="slide-out">
      <li class="waves-effect"><a href="#">Enlace</a></li>
    </ul>
    <ul class="collapsible" data-collapsible="accordion">
      <li></li>
    </ul>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>